body {
	text-align: center;
}

.m-dr {
	display: flex;
}

.m-tab {
	width: 90px;
	height: 45px;
	border: 2px solid #000000;
}

.m-tab.focus {
	background: #A9A9A9;
}

.m-bd {
	border: 2px solid #000000;
	width: 600px;
}

.m-ct {
	height: 400px;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.m-ct.hide {
	display: none;
}